gatunki.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="dzikieWensze" type="dzikieWenszeType"/>

  <xs:complexType name="piesType">
    <xs:sequence>
      <xs:element type="nazwaType" name="nazwa" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="xs:string" name="masa" minOccurs="0"/>
      <xs:element type="xs:string" name="wys" minOccurs="0"/>
      <xs:element type="xs:string" name="pochodzenie" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="id" use="required"/>
    <xs:attribute type="xs:string" name="akc" use="optional"/>
  </xs:complexType>

  <xs:complexType name="nazwaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="jezyk" use="optional" default="polski"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="wazType">
    <xs:sequence>
      <xs:element type="nazwaType" name="nazwa" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dlug">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[1-9][0-9]?(.[1-9])? m"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="czyCieplolubny">
        <xs:simpleType>
          <xs:restriction base="xs:boolean"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typ" use="optional"/>
  </xs:complexType>

  <xs:complexType name="gatunkiType">
    <xs:sequence>
      <xs:element type="piesType" name="pies" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="wazType" name="waz" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="administratorType">
    <xs:sequence>
      <xs:element name="imie">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][a-z]{2,8}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nazwisko">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]([a-z]{2,10}|.)"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nick">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z][a-zA-Z0-9]{2,19}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sekcja" maxOccurs="2" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="pieski"/>
            <xs:enumeration value="węże"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="moderatorType">
    <xs:complexContent>
      <xs:extension base="administratorType">
        <xs:sequence>
          <xs:element name="data_rej">
            <xs:simpleType>
              <xs:restriction base="xs:date">
                <xs:pattern value="20[0-2][0-9]-((0[1-9])|(1[0-2]))-(([0-2][1-9])|(3[01]))"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="typ" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="pracownicyType">
    <xs:choice maxOccurs="unbounded" minOccurs="1">
      <xs:element type="administratorType" name="administrator"/>
      <xs:element type="moderatorType" name="moderator"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="dzikieWenszeType">
    <xs:sequence>
      <xs:element type="gatunkiType" name="gatunki"/>
      <xs:element type="pracownicyType" name="pracownicy"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>